.content-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    .icon {
        color: #E3E3E3;
    }

    &.cdk-drag-dragging {
        .icon {
            color: #454545;
        }
    }

}