<div class="container">
  <mat-slide-toggle [(ngModel)]="isChecked" class="switch">
    <span *ngIf="!isChecked; else version2">AngularJS 1.x</span>
    <ng-template #version2><span>Angular 2.x</span></ng-template>
  </mat-slide-toggle>
  <mat-divider></mat-divider>
  <mat-list role="list">
    <div *ngIf="!isChecked; else list2">
      <mat-list-item *ngFor="let item of angular1List" role="listitem">{{
        item
      }}</mat-list-item>
    </div>
    <ng-template #list2>
      <mat-list-item *ngFor="let item of angular2List" role="listitem"
        ><span color="accent">{{ item }}</span></mat-list-item
      ></ng-template
    >
  </mat-list>
</div>
