<mat-drawer-container class="navigation" [hasBackdrop]="false">
  <mat-drawer class="navigation-sidenav" mode="side" opened>
    <mat-nav-list>
      <div *ngFor="let link of dataSource">
        <mat-list-item
          class="navigation-item"
          [routerLink]="link.route"
          routerLinkActive="active"
        >
          <h2>{{ link.title }}</h2>
        </mat-list-item>
        <div class="navigation-child" *ngFor="let child of link.children">
          <mat-list-item class="navigation-child">
            <span matListItemTitle>{{ child.title }}</span>
          </mat-list-item>

          <mat-list-item
            class="navigation-grandChild"
            *ngFor="let grandChild of child.children"
            [routerLink]="child.route + '/' + grandChild.route"
            routerLinkActive="active"
          >
            <mat-icon class="icon" matListItemIcon
              >keyboard_double_arrow_right</mat-icon
            >
            <span matListItemLine>
              {{ grandChild.title }}
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-progress-bar
      color="accent"
      mode="determinate"
      [value]="calculateProgress()"
    ></mat-progress-bar>
    <div class="content-wrapper" [@routeAnimations]="getRouteAnimationData()">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
